:root {
    --white-color: #fff;
    --black-color: #1a1a1a;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    /* 10px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Lexend", sans-serif;
  }
  
  body {
    overflow-x: hidden;
  }
  
  
  ul {
    list-style: none;
  }
  
  li {
    display: inline-block;
  }
  
  a {
    text-decoration: none;
    color: var(--black-color) !important;
  }